body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color:white;
}

/*--------------------- fonts -------------------------- */
@font-face {
    font-family: myFont;
    src: url(fonts/Rajdhani-Medium.ttf);
}
@font-face {
    font-family: Font;
    src: url(fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
    font-family: monFont;
    src: url(fonts/SpaceGrotesk-Regular.ttf);
}

/*------------------- header --------------------*/
#logo_bat{
    float: left;
    position: absolute;
    top: 6%;
    left: 13%;
    cursor: pointer;
    
}
#logo_bat:hover{
    -webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
    filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
}


nav ul{ 
    display: flex;
    gap: 45px;
    flex-wrap: nowrap;
    list-style-type:none;
   
}
ul li{
    position: relative;
    top: 40px;
    left: 65%;
    color: white;
    padding: 0 3px   0 3px;
    font-family: monFont;
    font-size: 18px;
    cursor:pointer;  
   
}
ul li.active{
    border-bottom: 1px solid white;
    font-weight: bold;
 
}
nav li a{ 
    color: white;
    text-decoration: none;
   
}
nav li:hover:not(.active){ 
    border-bottom: 1px solid white;
    font-weight: bold;
    font-size: 19px;
    transition: all .4s;
    color: rgb(208, 208, 208);
}
@media screen and  (max-width:767px){
    nav ul{ 
        display: flex;
        gap: 45px;
        flex-wrap: nowrap;
        list-style-type:none;
       
    }
    ul li{
        position: relative;
        top: 40px;
        left: 325px;
        color: white;
        border-bottom: 1px solid white;
        padding: 0 3px   0 3px;
        font-family: monFont;
        font-size: 18px;
        cursor:pointer;  
       
    }
    
    
    nav li a{ 
        color: white;
        text-decoration: none;
       
    } 
   
    header{
        background-image: url('Assets/Illustrations/Bathome1.png');
        background-repeat: no-repeat;
        height: 450px;
        background-size: cover;
        text-align: center;
        position: relative;
        width: auto;
    
    }
    
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
    animation: slide-in 2s ease-in-out; /* Durée et effet de transition */
  }
  
 
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%); /* Début de la translation */
    }
    100% {
      transform: translateX(0); /* Fin de la translation */
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0; /* Début de l'opacité à 0 */
    }
    100% {
      opacity: 1; /* Fin de l'opacité à 1 */
    }
  }
    .head_content{
        border-left: 3px solid    rgba(123, 123, 123, 0.2);
        border-right: 3px groove  rgba(207, 207, 207, 0.2);
        border-top: 3px solid  rgba(171, 171, 171, 0.2);
        margin-top: 100px;
        margin-left: 5%;
        padding: 70px 130px 100px 90px;
        color: whitesmoke;
        width: 58%;
        font-family: monFont;
        font-size: 18px;
    }
   
    .head_content strong{
        font-size: 18px;
    }
    header .buttons .btn{
        background-image: linear-gradient(to top right , #eddebf, #890008);
        border: none;
        opacity: .6;
        padding: 15px;
        margin-right: 25px;
        position: relative;
        top:-80px;
        left: 13px;
        color: white;
        font-family: myFont;
        font-size: 20px;
    }
    header .buttons .btn:hover{
        opacity: 1;
    }
    
    header  aside{
        position: fixed;
        top: 45%;
        left: 89%;
        display: grid;
        gap: 25px;
        margin-left: -50px;
        z-index: 1000;
      
    }
    
    
    header  aside img.ico_reseaux{
        margin-left: 25px;
    }
    header  aside img:hover{
    -webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
    filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
    }
      /*-------------------- contenu-------------------------  */
    /* Section cinema */
     #cinema{
        margin-left: 2%;
        margin-top: 20%;
    }
    .container h1{
        font-family: myFont;
        font-size: 36px;
    }
   
    
    div.container p{
       
        font-family: monFont;
        font-size: 18px;
        
    }
    #nemesis{
        margin-top: 50px;
        margin-left: 2%;
    }
    main div.desc:not(.desc_long) {
        margin-top: 20px;
        text-align: center;
        font-family: monFont;
        font-size: medium;
        
    }
    main div.desc .desc_long {
        margin-top: 10px;
        text-align: center;
        font-family: monFont;
        font-size: medium;
        margin-left: -55px;
        
    }
    main .images{
        margin: 0px;
        padding: 0px;
    }
    main .img1 img{
       width: 40%;
        height: 40%;
       display: grid;
       margin-left: 30%;
       
    }
    main .makedown{
        margin-left: 30%; 
       
    }
   
    
    main #cinema article img,.desc{
        transition: all .6s;
        cursor: pointer;
    }
     main .nemesis article img,main .alliés article img{
        transition: all .6s;
        cursor: pointer;
        
    }
    main #cinema article img:hover{
        transform: scale(1.3, 1.2);
        padding-bottom: 5%;
    }
     main .nemesis article img:hover,main .alliés article img:hover{
        transform: scale(1.3, 1.2);
        padding-bottom: 5%;
    }
    div.container .deco{
        position:relative; 
        left:95px;   
    }
/* section Allié */
#Alliés{
    margin-top: 15%;
    margin-left: 2%;
}
 .bat_aside{
    margin-left: 50%;
}
div.container4{
    position:relative;
    left:35px;
}
div.container4 h1{
    display: inline;
    margin-left: -90%;
}
img.Al_ph{
    margin-left: 100%;
}
 

div.container4 p{
    margin-bottom: 50px;
    font-family: monFont;
    font-size: 18px;
    
} 

/* section justice */

img.justice{
    margin-left: -160px;
    
}
#justice{
    margin-top: 20%;
    margin-left: 2%;
}

div.container5 h1:not(div.container1 h1,div.container2 h1){ 
    font-family: myFont;
    font-size: 36px;
    position: relative;
    left:-5px;
    top: 10px;
    
    
}
/* section multimédia */
div.container1 h1{ 
    font-family: myFont;
    font-size: 36px;
    margin-left: 2%;
}

div.card{
    background-image: linear-gradient(to bottom right, #292827, #162229);
    border: none;
    border-radius: 0 15px 15px 0 ;
    width: 250px;
    height: 220px;
    padding: 10px;
    font-family: monFont;
    line-height: 14px;
    font-size: 12px;
    
   
    
    
}
main .multimedia .card span{
    color: #FFFF00;
}

#media{
    margin-top: 20%;
}
div.slide img{
    position: relative;
    top: -235px;
    left: -20%;
}
div.slide .card{
    margin-left: 160px;
    
}

.annonce{
    position: relative;
    margin-top: -850px;
    margin-left: -13px;
    z-index: 0;
}
.annonce:hover{
   box-shadow: 2px 2px 30px 5px #72717191;
   z-index: 1000;
   
}
.play{
    position:relative;
    top: -185px;
    left:35%;
    z-index: 10;
}
/*  contact */
div.container2 h1{
    font-family: myFont;
    font-size: 36px;
}
div.container2{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px solid  rgba(207, 207, 207, 0.2);
    border-bottom: 3px solid  rgba(207, 207, 207, 0.2);
    margin-left: -120px;
    padding-right: 315px;
    padding-left: 70px;
    height: 150vh;
    font-family: monFont;
    font-size: 18px;
    background-image: linear-gradient(to bottom right,#3f3b32, #021e2e);
    width: 84%;
}

main .contact input, main .contact select{
    background-color:unset;
    border:none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.418);
    color:rgba(123, 123, 123, 0.982) ;
    width: 80%;
   
}
main .contact div.group, .btn1 {
    margin-bottom: 35px;
    position: relative;
    top: auto;
    left: 125px;
}

div.group p {
    font-family: monFont;
    font-size: 12px;
    color:rgba(123, 123, 123, 0.982) ;
}
main .contact #email{
    margin-top: 20px;
}

main .contact input[type="checkbox"]{
    width: 15px;
    height: 15px;
     
}
main .contact label{
    font-size: 20px;
    margin-bottom: 30px;
}
h4{
    font-family: monFont;
    font-size: 20px; 
    font-weight: lighter;  
}
main .contact #message{

    margin-top: 30px;
}
main .contact form button:not(.btn1){
    border-top: 1px solid #EDDEBF ;
    border-bottom:1px solid #19587D;
    border-left: 1px solid #EDDEBF  ;
    border-right: 1px solid #19587D;
    padding: 13px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-family: myFont;
    font-size: 20px;

}
main .contact form .btn4{
    background-color:  #1b3039;
}
main .contact form .btn3{
    background-color:  #22343c;
}
main .contact form .btn2{
    background-color:  #2e3f45;
}
main .contact .buttons button{
    border-color: rgba(221, 218, 218, 0.644);
    border-width: 1px 0px 0px 1px;
    font-family: myFont;
    font-size: 20px;
}
main .contact .buttons button:hover{
    background-image: linear-gradient(to bottom right, #554f43,#10354a );
   
}
main .contact .btn1{
    border: none;
    background-image: linear-gradient(to bottom right, #EDDEBF, #890008);
    padding: 15px;
    width: 200px;
    opacity: .6;
    margin-left: 150px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: myFont;
}
main .contact input:focus, select{
   height: 35px;
   background-color: white;
}
main .contact h1{
    margin-left: 100px;
 }
 main img.icon_WB{
    position: absolute;
   
   
 }

/* -----------------------------------Footer------------------------------ */
footer{
    margin-top: 20%;
}
footer .info {
    font-size: 10px;
    float:right;
    margin-left: 30px;
    margin-top: -7%;   
   
}
img.guillemet{
    margin-left: 350px;
    margin-bottom: 70px;
 }
 .container3{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px groove  rgba(207, 207, 207, 0.2);
    margin-left: -50px;
    padding-right: 20px;
    padding-left: 70px;
    height: 100vh;
    font-family: monFont;
    font-size: 18px;
    width: 97%;
    margin-top: -1px;
    
}
.container3 img{
    position: relative;
    left: 5px;
    top: 30px;
}
.container3 img:hover{
    -webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
}

.container3 #footer_item p {
    padding-top: 50px;
    padding-left: 50px;
      
   }
.container3 #footer_item p:not(p span) {
 text-align: center;
 font-size: 12px;
 font-family: monFont;
   
}
.container3 #footer_item span {
    font-weight : lighter;
    font-size: 18px;
}
.container3 svg{
    position: relative;
    left: 190px;
    top: -100px;
    
}
.container3 #icon{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap; 
    margin-left: 75px;
}
.container3 .ico:hover{
-webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
}
}
@media screen and (min-width:768px)and (max-width:1023px){
    
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
    animation: slide-in 2s ease-in-out; /* Durée et effet de transition */
  }
  

  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%); /* Début de la translation */
    }
    100% {
      transform: translateX(0); /* Fin de la translation */
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0; /* Début de l'opacité à 0 */
    }
    100% {
      opacity: 1; /* Fin de l'opacité à 1 */
    }
  }
    header{
        background-image: url('Assets/Illustrations/Bathome1.png');
        background-repeat: no-repeat;
        height: 75%;
        background-size: cover;
        text-align: center;
        position: relative;
        width: auto;
    
    }
    .head_content{
        border-left: 3px solid    rgba(123, 123, 123, 0.1);
        border-right: 3px groove  rgba(207, 207, 207, 0.1);
        border-top: 3px solid  rgba(171, 171, 171, 0.2);
        margin-top: 100px;
         margin-left: 60px;
        padding: 130px 130px 100px 130px;
        color: whitesmoke;
        width: 58%;
        font-family: monFont;
        font-size: 18px;
    }
    .head_content strong{
        font-size: 18px;
    }
    header  aside img.icon_reseaux{
        margin-left: 25px;
    }
    header .buttons .btn{
        background-image: linear-gradient(to top right , #eddebf, #890008);
        border: none;
        opacity: .6;
        padding: 15px;
        margin-right: 25px;
        position: relative;
        top:-80px;
        left: 13px;
        color: white;
        font-family: myFont;
        font-size: 20px;
    }
    header .buttons .btn:hover{
        opacity: 1;
    }
    
    header  aside{
        position: fixed;
        top: 45%;
        left: 89%;
        z-index: 1000;
        display: grid;
        gap: 25px;
        margin-left: -50px;
        transform: translate(30%);
    }
    
    
    header  aside img.ico_reseaux{
        margin-left: 25px;
    }
    header  aside img:hover{
    -webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
    filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
    }

/*------------------- contenu-------------------------  */
/* Section cinema */
 #cinema{
    margin-left: -50px;
}
.container h1{
    font-family: myFont;
    font-size: 36px;
}
div.container .deco{
    position:relative; 
    left:95px;   
}

div.container{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px groove  rgba(207, 207, 207, 0.2);
    margin-left: 100px;
    padding-left:40px;
    padding-right: 20px;
    padding-top: 130px;
    width: 78%;
    height: 100vh;
    font-family: monFont;
    font-size: 18px;
    margin-top: -80px;
    margin-bottom: 80px;
}

div.container p{
   
    font-family: monFont;
    font-size: 18px;
    
}
#nemesis{
    margin-top: 250px;
}
main div.desc:not(.desc_long) {
    margin-top: 20px;
    text-align: center;
    font-family: monFont;
    font-size: medium;
    
}
main div.desc .desc_long {
    margin-top: 10px;
    text-align: center;
    font-family: monFont;
    font-size: medium;
    margin-left: -55px;
    
}
main .images{
    margin: 0px;
    padding: 0px;
}
main .img1{
    margin: 20px;
    float: left; 
}
main .makedown{
    margin-right: -20px; 
    margin-top: 10px;
}

main #cinema article img{
    transition: all .6s;
    cursor: pointer;
}
 main .nemesis article img,main .alliés article img{
    transition: all .6s;
    cursor: pointer;
}
main #cinema article img:hover{
    transform: scale(1.3, 1.2);
    padding-bottom: 5%;
}
 main .nemesis article img:hover,main .alliés article img:hover{
    transform: scale(1.3, 1.2);
    padding-bottom: 5%;
}
/* section Allié */
img.Al_ph{
    margin-left: -20px;
}
#Alliés{
    margin-top: 15%;
}
 .bat_aside{
    margin-left: 20px;
}
div.container4{
    position:relative;
    left:35px;
}
div.container4 h1{
    display: inline;
    margin-left: -850px;
}
 
div.container4{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px groove  rgba(207, 207, 207, 0.2);
     margin-left: 35px;
    padding-left:60px;
    padding-right: 20px;
    width: 78%;
    height: 100vh;
    font-family: monFont;
    font-size: 18px;
    margin-top: 110px;
    margin-bottom: 100px;
    
}
div.container4 p{
    margin-bottom: 50px;
    font-family: monFont;
    font-size: 18px;
    
} 

/* section justice */

 img.justice{
    margin-left: -160px;
    
}
#justice{
    margin-top: 40%;
}
div.container5{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px groove  rgba(207, 207, 207, 0.2);
    margin-left: 60px;
    padding-left: 40px;
    padding-right: 20px;
    width: 78%;
    height: 100vh;
    font-family: monFont;
    font-size: 18px;
    margin-top: 330px;
    margin-bottom: 80px;
    
}
div.container5 h1:not(div.container1 h1,div.container2 h1){ 
    font-family: myFont;
    font-size: 36px;
    position: relative;
    left:-5px;
    top: 10px;
    
    
} 
/* section multimédia */
div.container1 h1{ 
    font-family: myFont;
    font-size: 36px;
}
div.container1{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px solid  rgba(207, 207, 207, 0.2);
    margin-left: -50px;
    padding-right: 320px;
    padding-left: 70px;
    width: 58%;
    height: 130vh;
    font-family: monFont;
    font-size: 18px;
    margin-top: -50px;
    margin-bottom: 15%;
}
div.card{
    background-image: linear-gradient(to bottom right, #292827, #162229);
    border: none;
    border-radius: 0 15px 15px 0 ;
    width: 350px;
    height: 190px;
    padding: 10px;
    font-family: monFont;
    line-height: 14px;
    font-size: 12px;
    
    
}
main .multimedia .card span{
    color: #FFFF00;
}


div.slide img{
    position: relative;
    top: -220px;
}
div.slide .card{
    margin-left: 250px;
    
}
.annonce{
    position: relative;
    margin-top: -850px;
    margin-left: -13px;
    z-index: 0;
}
.annonce:hover{
   box-shadow: 2px 2px 30px 5px #72717191;
   z-index: 1000;
   
}
.play{
    position:relative;
    top: -285px;
    left:40%;
    z-index: 10;
}
/*  contact */
 div.container2 h1{
    font-family: myFont;
    font-size: 36px;
}
div.container2{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px solid  rgba(207, 207, 207, 0.2);
    border-bottom: 3px solid  rgba(207, 207, 207, 0.2);
    margin-left: -120px;
    padding-right: 315px;
    padding-left: 70px;
    height: 150vh;
    font-family: monFont;
    font-size: 18px;
    background-image: linear-gradient(to bottom right,#3f3b32, #021e2e);
    width: 84%;
}

main .contact input, main .contact select{
    background-color:unset;
    border:none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.418);
    color:rgba(123, 123, 123, 0.982) ;
    width: 100%;
   
}
main .contact div.group, .btn1 {
    margin-bottom: 35px;
    position: relative;
    top: auto;
    left: 125px;
}

div.group p {
    font-family: monFont;
    font-size: 12px;
    color:rgba(123, 123, 123, 0.982) ;
}
main .contact #email{
    margin-top: 20px;
}

main .contact input[type="checkbox"]{
    width: 15px;
    height: 15px;
     
}
main .contact label{
    font-size: 20px;
    margin-bottom: 30px;
}
h4{
    font-family: monFont;
    font-size: 20px; 
    font-weight: lighter;  
}
main .contact #message{

    margin-top: 30px;
}
main .contact form button:not(.btn1){
    border-top: 1px solid #EDDEBF ;
    border-bottom:1px solid #19587D;
    border-left: 1px solid #EDDEBF  ;
    border-right: 1px solid #19587D;
    padding: 13px;
    margin-left: 50px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-family: myFont;
    font-size: 20px;

}
main .contact form .btn4{
    background-color:  #1b3039;
}
main .contact form .btn3{
    background-color:  #22343c;
}
main .contact form .btn2{
    background-color:  #2e3f45;
}
main .contact .buttons button{
    border-color: rgba(221, 218, 218, 0.644);
    border-width: 1px 0px 0px 1px;
    font-family: myFont;
    font-size: 20px;
}
main .contact .buttons button:hover{
    background-image: linear-gradient(to bottom right, #554f43,#10354a );
   
}
main .contact .btn1{
    border: none;
    background-image: linear-gradient(to bottom right, #EDDEBF, #890008);
    padding: 15px;
    width: 200px;
    opacity: .6;
    margin-left: 250px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: myFont;
}
main .contact input:focus, select{
   height: 35px;
   background-color: white;
}
main .contact h1{
    margin-left: 250px;
 }
 main img.icon_WB{
    position: absolute;
   
   
 }

/* -----------------------------------Footer------------------------------ */
 img.guillemet{
    margin-left: 450px;
    margin-bottom: 70px;
 }
footer{
    margin-top: 20%;
}
footer .info {
    font-size: 10px;
    float:right;
    margin-right: 120px;
    
   
}


 .container3{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px groove  rgba(207, 207, 207, 0.2);
    margin-left: -50px;
    padding-right: 20px;
    padding-left: 70px;
    height: 100vh;
    font-family: monFont;
    font-size: 18px;
    width: 97%;
    margin-top: -1px;
    
}
.container3 img{
    position: relative;
    left: 100px;
    top: 30px;
}
.container3 img:hover{
    -webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
}

.container3 #footer_item p {
    padding-top: 50px;
    padding-left: 50px;
      
   }
.container3 #footer_item p:not(p span) {
 text-align: center;
 font-size: 12px;
 font-family: monFont;
   
}
.container3 #footer_item span {
    font-weight : lighter;
    font-size: 18px;
}
.container3 svg{
    position: relative;
    left: 350px;
    top: -140px;
    
}
.container3 #icon{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap; 
    margin-left: 150px;
}
.container3 .ico:hover{
-webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
}  
}
/* *********************DESKTOP******************************* */
 @media screen and (min-width:1024px){
   div.info img{
       display: none;
    }
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
    animation: slide-in 2s ease-in-out; /* Durée et effet de transition */
  }
  
  
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%); /* Début de la translation */
    }
    100% {
      transform: translateX(0); /* Fin de la translation */
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0; /* Début de l'opacité à 0 */
    }
    100% {
      opacity: 1; /* Fin de l'opacité à 1 */
    }
  }
header{
    background-image: url('Assets/Illustrations/Bathome1.png');
    background-repeat: no-repeat;
    height: 95%;
    background-size: cover;
    text-align: center;
    position: relative;
    width: 100%;

}
.head_content{
    border-left: 3px solid    rgba(123, 123, 123, 0.1);
    border-right: 3px groove  rgba(207, 207, 207, 0.1);
    border-top: 3px solid  rgba(171, 171, 171, 0.2);
    margin-top: 100px;
     margin-left: 60px;
    padding: 130px 130px 100px 130px;
    color: whitesmoke;
    width: 58%;
    font-family: monFont;
    font-size: 18px;
}
.head_content strong{
    font-size: 18px;
}
header .buttons .btn{
    background-image: linear-gradient(to top right , #eddebf, #890008);
    border: none;
    opacity: .6;
    padding: 15px;
    margin-right: 25px;
    position:relative;
    top:-80px;
    cursor: pointer;
    color: white;
    font-family: myFont;
    font-size: 20px;
}
header .buttons .btn:hover{
    opacity: 1;
}

header  aside{
    position: fixed;
    top: 45%;
    left: 89%;
    display: grid;
    z-index: 1000;
    gap: 25px;
    margin-left: -50px;
    transform: translate(30%);
}


header  aside img.icon_reseaux{
    margin-left: 25px;
}
header  aside img:hover{
-webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
} 


/*------------------- contenu-------------------------  */
/* Section cinema */
 .container h1{
    font-family: myFont;
    font-size: 36px;
}
div.container .deco{
    position:relative; 
    left:95px;   
}

div.container{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px groove  rgba(207, 207, 207, 0.2);
    margin-left: 60px;
    padding-left:40px;
    padding-right: 20px;
    padding-top: 130px;
    width: 78%;
    height: 100vh;
    font-family: monFont;
    font-size: 18px;
    margin-top: -80px;
    margin-bottom: 80px;
}

div.container p{
    margin-top: 50px;
    font-family: monFont;
    font-size: 18px;
    
}

main div.desc:not(.desc_long) {
    margin-top: 20px;
    text-align: center;
    font-family: monFont;
    font-size: medium;
    
}
main div.desc .desc_long {
    margin-top: 10px;
    text-align: center;
    font-family: monFont;
    font-size: medium;
    margin-left: -55px;
    
}
main .images{
    margin: 0px;
    padding: 0px;
}
main .img1{
    margin: 20px;
    float: left; 
}
main .makedown{
    margin-right: -20px; 
    margin-top: 20px;
}


main #cinema article img{
    transition: all .6s;
}
 main .nemesis article img,main .alliés article img{
    transition: all .6s;
    
}
main #cinema article img:hover{
    transform: scale(1.3, 1.2);
    padding-bottom: 5%;
}
 main .nemesis article img:hover,main .alliés article img:hover{
    transform: scale(1.3, 1.2);
    padding-bottom: 5%;
}
main .nemesis {
    margin-top: 155px;
} 
/* section Allié */

 .bat_aside{
    position: relative;
    left: 75%;
    top: -10%;
   
}
img.Al_ph{
    margin-left: -20px;
}
div.container4 h1{
    margin-top: -15%;

}
div.container4{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px groove  rgba(207, 207, 207, 0.2);
     margin-left: 60px;
    padding-left:40px;
    padding-right: 20px;
    width: 78%;
    height: 100vh;
    font-family: monFont;
    font-size: 18px;
    margin-top: 110px;
    margin-bottom: 100px;
    
}
div.container4 p{
    margin-bottom: 50px;
    font-family: monFont;
    font-size: 18px;
    
} 

/* section justice */

img.justice{
    margin-left: -160px;
    
}
div.container5{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px groove  rgba(207, 207, 207, 0.2);
    margin-left: 60px;
    padding-left: 40px;
    padding-right: 20px;
    width: 78%;
    height: 100vh;
    font-family: monFont;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 80px;
    
}
div.container5 h1:not(div.container1 h1,div.container2 h1){ 
    font-family: myFont;
    font-size: 36px;
    position: relative;
    left:-5px;
    top: 10px;
    
    
}
#justice{
    margin-top: 40%;
 } 

/* section multimédia */
 div.container1 h1{ 
    font-family: myFont;
    font-size: 36px;
}
div.container1{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px solid  rgba(207, 207, 207, 0.2);
    margin-left: -50px;
    padding-right: 320px;
    padding-left: 70px;
    width: 58%;
    height: 130vh;
    font-family: monFont;
    font-size: 18px;
    margin-top: -70px;
}
div.card{
    background-image: linear-gradient(to bottom right, #292827, #162229);
    border: none;
    border-radius: 0 15px 15px 0 ;
    width: 350px;
    height: 190px;
    padding: 10px;
    font-family: monFont;
    line-height: 14px;
    font-size: 12px;
    
}
main .multimedia .card span{
    color: #FFFF00;
}


div.slide img{
    position: relative;
    top: -220px;
}
div.slide .card{
    margin-left: 250px;
    
}
.annonce{
    position: relative;
    margin-top: -850px;
    margin-left: -13px;
    z-index: 0;
}
.annonce:hover{
   box-shadow: 2px 2px 30px 5px #72717191;
   z-index: 1000;
   
}
.play{
    position:relative;
    top: -285px;
    left:40%;
    z-index: 10;
} 

/*  contact */
 div.container2 h1{
    font-family: myFont;
    font-size: 36px;
}
div.container2{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px solid  rgba(207, 207, 207, 0.2);
    border-bottom: 3px solid  rgba(207, 207, 207, 0.2);
    margin-left: -120px;
    padding-right: 315px;
    padding-left: 70px;
    height: 150vh;
    font-family: monFont;
    font-size: 18px;
    background-image: linear-gradient(to bottom right,#3f3b32, #021e2e);
    width: 84%;
}

main .contact input, main .contact select{
    background-color:unset;
    border:none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.418);
    color:rgba(123, 123, 123, 0.982) ;
    width: 100%;
   
}
main .contact div.group, .btn1 {
    margin-bottom: 35px;
    position: relative;
    top: auto;
    left: 125px;
}

div.group p {
    font-family: monFont;
    font-size: 12px;
    color:rgba(123, 123, 123, 0.982) ;
}
main .contact #email{
    margin-top: 20px;
}

main .contact input[type="checkbox"]{
    width: 15px;
    height: 15px;
     
}
main .contact label{
    font-size: 20px;
    margin-bottom: 30px;
}
h4{
    font-family: monFont;
    font-size: 20px; 
    font-weight: lighter;  
}
main .contact #message{

    margin-top: 30px;
}
main .contact form button:not(.btn1){
    border-top: 1px solid #EDDEBF ;
    border-bottom:1px solid #19587D;
    border-left: 1px solid #EDDEBF  ;
    border-right: 1px solid #19587D;
    padding: 13px;
    margin-left: 90px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-family: myFont;
    font-size: 20px;

}
main .contact form .btn4{
    background-color:  #1b3039;
}
main .contact form .btn3{
    background-color:  #22343c;
}
main .contact form .btn2{
    background-color:  #2e3f45;
}
main .contact .buttons button{
    border-color: rgba(221, 218, 218, 0.644);
    border-width: 1px 0px 0px 1px;
    transition: all .5s;
    font-family: myFont;
    font-size: 20px;
}
main .contact .buttons button:hover{
    background-image: linear-gradient(to bottom right, #554f43,#10354a );
   
}
main .contact .btn1{
    border: none;
    background-image: linear-gradient(to bottom right, #EDDEBF, #890008);
    padding: 15px;
    width: 200px;
    opacity: .6;
    margin-left: 250px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: myFont;
}
main .contact input:focus, select{
   height: 35px;
   background-color: white;
}
main .contact h1{
    margin-left: 250px;
 } 
 
/* -----------------------------------Footer------------------------------ */
 
 img.guillemet{
    margin-left: 450px;
    margin-bottom: 70px;
 }
 footer{
    margin-top: 20%;
}
footer .info {
    font-size: 10px;
    float:right;
    margin-right: 120px;
    
   
}


 .container3{
    border-left: 3px solid    rgba(207, 207, 207, 0.2);
    border-right: 3px groove  rgba(207, 207, 207, 0.2);
    margin-left: -50px;
    padding-right: 20px;
    padding-left: 70px;
    height: 100vh;
    font-family: monFont;
    font-size: 18px;
    width: 97%;
    margin-top: -1px;
    
}
.container3 img{
    position: relative;
    left: 100px;
    top: 30px;
}
.container3 img:hover{
    -webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
}

.container3 #footer_item p {
    padding-top: 50px;
    padding-left: 50px;
      
   }
.container3 #footer_item p:not(p span) {
 text-align: center;
 font-size: 12px;
 font-family: monFont;
   
}
.container3 #footer_item span {
    font-weight : lighter;
    font-size: 18px;
}
.container3 svg{
    position: relative;
    left: 350px;
    top: -140px;
    
}
.container3 #icon{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap; 
    margin-left: 150px;
}
.container3 .ico:hover{
-webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
}
} 